a{
	text-decoration: none;
}

.table>:not(:last-child)>:last-child>* {
    border-bottom-color: #dee2e6 !important;
}

.error{
	color: red !important;
}

.dropdown.dropdown-language:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
}
